/* ::: GLOBAL CSS ::: */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    color: #212329;
    min-width: 1320px;

}

ul {
    list-style: none;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ::: RESET CLASSES ENDS HERE ::: */

/* ::: COMMONLY USED CLASSES STARTS HERE ::: */

.fleft {
    float: left;
}

.fright {
    float: right;
}

.flexShrinkZero {
    flex-shrink: 0;
    flex-grow: 0 !important;

}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.text-bold {
    font-weight: 500 !important;
}

.margin-lr-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.margin-l-15 {
    margin-left: 15px;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

input {
    outline: none;
}

.sec-text {
    color: #b5b5b5;
}

.disp-block {
    display: block !important;
}

.disp-inline-block {
    display: inline-block !important;
}

.vert-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.arrow {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 10px;
    position: relative;
}

.arrow.expanded {
    transform: rotate(-45deg);
    top: -4px;
}

.arrow.toLeft {
    transform: rotate(45deg);
}

.arrow.toRight {
    transform: rotate(-135deg);
}

.arrow.collapsed {
    transform: rotate(-137deg);
    position: relative;
    top: -1px;
}

.primary-btn {
    border: 1px solid #eaeaea;
    padding: 12px 15px;
    margin-top: 10px;
    border-radius: 22px;
    box-shadow: 0px 2px 8px 1px rgba(224, 224, 224, 0.7);
    margin-right: 7px;
    min-width: 160px;
    color: #F2F2F2;
    font-size: 14px;
    font-weight: 400;
    background: #4e92df;
    margin: 18px;
}

.header__btn-pair__group {
    float: left;
    margin-top: 10px;
    margin-right: 11px;
    box-shadow: 0px 2px 8px 1px #eaeaea;
}

.back-button {
    transform: rotate(180deg);
    display: inline-block;
    margin-right: 10px;
}

.back-button.flaticon-arrows:before {
    position: relative;
    /*top: -2px;*/
    padding-left: 3px;
}

.m10 {
    margin: 10px;
}

.hide {
    display: none;
}

.text-overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ::: COMMONLY USED CLASSES ENDS HERE ::: */

/* :::: menu icon in segmentation page ::::*/

.menu-icon {
    height: 100%;
    position: relative;
    text-align: left;
}

.menu-icon:before {
    content: '';
    width: 24px;
    height: 13px;
    border: 3px solid rgba(181, 181, 181, 0.75);
    border-left: none;
    border-right: none;
    position: relative;
    left: -2px;
    top: 2px;
    transform: translateY(0px) rotate(180deg) !important;
}

.menu-icon:after {
    content: '';
    width: 24px;
    height: 3px;
    background: rgba(181, 181, 181, 0.75);
    position: absolute;
    left: -2px;
    top: 18px;
}

ul.list-style-dot {
    padding-left: 18px;
    position: relative;
}

ul.list-style-dot li:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    background: grey;
    left: 4px;
    margin-top: 6px;
}

/* ::: TOOLTIP CLASSES STARTS HERE ::: */
.tooltip:before, .tooltip:after {
    transition: 0.15s ease-in-out all;
}

.tooltip:before {
    content: attr(data-tooltip);
    position: absolute;
    left: calc(100% + 5px);
    background: #141823;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 13px;
    border-radius: 2px;
    top: calc(50% - 14px);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
}

.tooltip:after {
    content: '';
    position: absolute;
    left: 100%;
    border: 5px solid transparent;
    border-right-color: #141823;
    border-left: none;
    top: calc(50% - 5px);
    opacity: 0;
    visibility: hidden;
}

.tooltip:hover:before, .tooltip:hover:after {
    opacity: 1;
    visibility: visible;
}

.tooltip.onleft:before {
    left: auto;
    right: calc(100% + 5px);
}

.tooltip.onleft:after {
    border: 5px solid transparent;
    border-left-color: #141823;
    border-right: none;
    left: auto;
    right: 100%;
}

.cover-container {
    height: 100%;
    width: 100%;
}

.no-btn {
    background: none;
    border: none;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 21px;
    text-align: left;
    display: flex;
    align-items: center;
}

/* ::: TOOLTIP CLASSES ENDS HERE ::: */

